
body { 
    font-family: 'Arial', sans-serif;
 
    background-image: linear-gradient(to bottom right, #33ccff, #ff99cc);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 20px;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
}



#inputForm {
      background-color: rgba(0, 0, 0, 0.1);
     backdrop-filter:blur(30px);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
    padding: 70px;
    width: 500px;
    
    text-align: center;
}

h1 {
    color: #4a4e69;
    font-size: 30px;
}

label {
    margin: 10px 0;
    font-size: 20px;
}

input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #4a4e69;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5c5f76;
}


#barsContainer {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#bars {
    display: flex;
    align-items: flex-end;
    gap: 2px; 
}

.bar {
    background-color: #0832bf;
    width:100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: background-color 0.3s, height 0.3s;
}

.bar span {
    color: white;
    font-size: 14px;
    margin-bottom: 5px; 
}


#ij {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

